{% extends "django_practice/base.html" %}
{% block header %}
    <div class='jumbotron'>
        <h1>Отслеживайте свои записи.</h1>
    </div>
{% endblock header %}
{% block content %}
    <h2>
        <a href="{% url 'users:register' %}">Зарегистрирувать аккаунт</a> и создать свой 
        собственный журнал обучения и перечислить темы, которые вы изучаете.
    </h2>
    <h2>
            Всякий раз, когда вы узнаете что-то новое о теме, 
            сделайте запись, в которой вы узнаете, что узнали.
    </h2>
{% endblock content %}